<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<script src="/js/newCategory.js" th:src="@{/js/newCategory.js}"></script>
	<title>Add Book</title>
</head>

<body>
	<h1>Add New Book</h1>

	<form action="#" th:action="@{/save}" th:object="${book}" method="post">
		<label for="title">Title:</label><br>
		<input type="text" id="title" th:field="*{title}" required><br>
		<label for="author">Author:</label><br>
		<input type="text" id="author" th:field="*{author}" required><br>
		<label for="publicationYear">Publication Year:</label><br>
		<input type="number" id="publicationYear" required name="publicationYear" value="0"><br>
		<span th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></span>
		<label for="isbn">ISBN:</label><br>
		<input type="text" id="isbn" th:field="*{isbn}" required><br>
		<label for="price">Price:</label><br>
		<input type="number" id="price" th:field="*{price}" step="0.01" required><br>
		<label for="category">Category:</label><br>
		<select id="category" th:field="*{category}" onchange="handleCategoryChange(this)">
			<option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}">
			</option>
			<option value="0">Add Category</option>
		</select><br><br>
		<button class="btn btn-success" type="submit">Save</button>
	</form>

	<!-- Save Category the complicated way -thing -->
	<form id="category-form" th:action="@{/savecategory}" th:object="${category}" method="post" style="display: none">
		<label for="name">Add Category:</label><br>
		<input type="text" id="name" th:field="*{name}" required><br>
		<button class="btn btn-success" type="submit">Save</button>
	</form>

	<a href="javascript:history.back()">Go Back</a><br>
	<a th:href="@{/booklist}">Back to Book List</a>
</body>

</html>