<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Add darkness -->
<html lang="en" data-bs-theme="dark">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Edit Book</title>
</head>

<body>
	<h1>Edit Book</h1>

	<form action="#" th:action="@{/save}" th:object="${book}" method="post">
		<input type="hidden" th:field="*{id}" />
		<label for="title">Title:</label><br>
		<input type="text" id="title" th:field="*{title}" required><br>
		<label for="author">Author:</label><br>
		<input type="text" id="author" th:field="*{author}" required><br>
		<label for="publicationYear">Publication Year:</label><br>
		<input type="number" id="publicationYear" th:field="*{publicationYear}" required><br>
		<label for="isbn">ISBN:</label><br>
		<input type="text" id="isbn" th:field="*{isbn}" required><br>
		<label for="price">Price:</label><br>
		<input type="number" id="price" th:field="*{price}" step="0.01" required><br>
		<label for="category">Category:</label><br>
		<select id="category" th:field="*{category}">
			<option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}">
			</option>
		</select><br><br>
		<button class="btn btn-success" type="submit">Save</button>
	</form>
	<a href="javascript:history.back()">Go Back</a><br>
	<a th:href="@{/booklist}">Back to Book List</a>
</body>

</html>